[submodule "ShrineCore/Vendor/glfw"]
	path = ShrineCore/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "ShrineCore/Vendor/spdlog"]
	path = ShrineCore/Vendor/spdlog
	url = https://github.com/gabime/spdlog
